In [1]:
import sqlite3
import pandas as pd

# DB 생성 및 연결

In [2]:
# SQLite 데이터베이스 파일 생성
conn = sqlite3.connect('ASAC_MAP_HALF.db')
cursor = conn.cursor()

In [3]:
# csv to sqlite 변환 함수

def csv_to_sqlite(csv_file, db_file, table_name, chunk_size=1000):
    try:
        # SQLite 데이터베이스 파일 연결
        conn = sqlite3.connect(db_file)
        
        # CSV 파일을 청크 단위로 읽어 SQLite로 변환
        for chunk in pd.read_csv(csv_file, chunksize=chunk_size):  # 여기에서 괄호 ()를 반드시 사용해야 합니다.
            chunk.to_sql(table_name, conn, if_exists='append', index=False)
        
        # 변경 사항 저장
        conn.commit()
        print(f"CSV 파일을 SQLite 데이터베이스 '{table_name}' 테이블로 변환 완료")
    
    except Exception as e:
        print(f"오류 발생: {e}")
    
    finally:
        # 연결 종료
        conn.close()


# # 함수 사용 예시
# csv_to_sqlite('your_data.csv', 'mydatabase.db', 'review')

## Review table

In [12]:
review_csv = f'csv/review_df_half.csv'

In [13]:

# CSV 파일을 Pandas DataFrame으로 읽어들입니다.
df = pd.read_csv(review_csv)

# DataFrame의 상위 5개 행을 출력합니다.
print(df.head())

   review_id  user_id  business_id  stars  \
0    1443659   607521       108373    5.0
1    1044648   182108       134961    5.0
2    5693786   749220        54049    5.0
3    1166589   572170         9263    2.0
4    6678286   816928       108373    5.0

                                                text                 date  \
0  Found 51st Deli on Uber Eats and we loved it!!...  2017-01-14 21:23:10
1  Love love love this place for HH n dinner is g...  2017-08-07 23:48:51
2  Not sure the significance behind the name and ...  2018-09-25 14:49:55
3  The service is going to be slooooww. And the f...  2017-10-02 01:52:47
4  Much more than a deli! Wife and I had the Phil...  2017-12-29 20:18:59

   food  service  atmosphere  facility  price  others
0     0        1           0         0      0       1
1     1        0           0         1      0       1
2     1        0           0         1      0       1
3     1        1           0         0      0       1
4     1        1           0         0      0       0

In [27]:
# reveiw table 추가
csv_to_sqlite(review_csv, 'ASAC_MAP_HALF.db', 'review')

CSV 파일을 SQLite 데이터베이스 'review' 테이블로 변환 완료

## Business table

In [2]:
business = pd.read_csv('csv/biz_df_half.csv')

NameError: name 'pd' is not defined

In [3]:
business.head()

NameError: name 'business' is not defined

In [17]:
business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   business_id         314 non-null    int64
 1   name                314 non-null    object
 2   address             311 non-null    object
 3   category            314 non-null    object
 4   region              314 non-null    object
 5   review_count_biz    314 non-null    float64
 6   average_stars_biz   314 non-null    float64
 7   atmosphere_keyword  314 non-null    object
 8   facility_keyword    314 non-null    object
 9   food_keyword        314 non-null    object
 10  others_keyword      314 non-null    object
 11  price_keyword       314 non-null    object
 12  service_keyword     314 non-null    object
 13  service_score       314 non-null    float64
 14  others_score        314 non-null    float64
 15  food_score          314 non-null    float64
 16  price_score         314 non-null    float64
 17  atmosphere_score    314 non-null    float64
 18  facility_score      314 non-null    float64
dtypes: float64(8), int64(1), object(10)
memory usage: 46.7+ KB

In [20]:
#DF to sql

def df_to_sqlite(df, db_file, table_name, if_exists='append'):
    try:
        # SQLite 데이터베이스 파일 연결
        conn = sqlite3.connect(db_file)
        
        # 데이터프레임을 SQL 테이블로 저장
        df.to_sql(table_name, conn, if_exists=if_exists, index=False)
        
        # 변경 사항 저장
        conn.commit()
        print(f"데이터프레임을 SQLite 데이터베이스 '{table_name}' 테이블로 저장 완료")
    
    except Exception as e:
        print(f"오류 발생: {e}")
    
    finally:
        # 연결 종료
        conn.close()

# 데이터프레임을 데이터베이스에 저장
db_file_path = 'ASAC_MAP_HALF.db'
table_name = 'business'
df_to_sqlite(business, db_file_path, table_name, if_exists='append')  # 'replace', 'append' 또는 'fail'

데이터프레임을 SQLite 데이터베이스 'business' 테이블로 저장 완료

## User table

In [21]:
user_csv = f'csv/user_df_half.csv'

In [22]:
user_df=pd.read_csv('csv/user_df_half.csv')
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13714 entries, 0 to 13713
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              13714 non-null  int64
 1   name                 13714 non-null  object
 2   review_count_user    13714 non-null  float64
 3   average_stars_user   13714 non-null  float64
 4   most_visited_region  13714 non-null  object
 5   visit_cnt            13714 non-null  float64
 6   log_visit_cnt        13714 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 750.1+ KB

In [24]:
csv_to_sqlite(user_csv, 'ASAC_MAP_HALF.db', 'user')

CSV 파일을 SQLite 데이터베이스 'user' 테이블로 변환 완료

## table 조회

In [25]:
import sqlite3

# 데이터베이스 파일에 연결
conn = sqlite3.connect('ASAC_MAP_HALF.db')
cursor = conn.cursor()

# 테이블 조회 쿼리 실행
cursor.execute("SELECT COUNT(*) FROM business")

# 결과를 가져옴
rows = cursor.fetchall()

# 결과 출력
for row in rows:
    print(row)

(314,)

In [28]:
import sqlite3

# 데이터베이스 파일에 연결
conn = sqlite3.connect('ASAC_MAP_HALF.db')
cursor = conn.cursor()

# 테이블 조회 쿼리 실행
cursor.execute("SELECT count(*) FROM review")

# 결과를 가져옴
rows = cursor.fetchall()

# 결과 출력
for row in rows:
    print(row)

(15000,)

In [29]:
import sqlite3

# 데이터베이스 파일에 연결
conn = sqlite3.connect('ASAC_MAP_HALF.db')
cursor = conn.cursor()

# 테이블 조회 쿼리 실행
cursor.execute("SELECT count(*) FROM user")

# 결과를 가져옴
rows = cursor.fetchall()

# 결과 출력
for row in rows:
    print(row)

(13714,)

In [30]:
# 모든 테이블 이름 조회
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()


# 테이블 이름 출력
for table in tables:
    print(table[0])

business
user
review

In [91]:
import sqlite3

# 데이터베이스 파일 경로 지정
database_path = 'ASAC_MAP.db'

# 데이터베이스 연결
conn = sqlite3.connect(database_path)


# 쿼리 실행
biz_id = 22138
query = "SELECT * FROM review WHERE business_id = ?;"
df = pd.read_sql_query(query, conn, params=(biz_id,))
# 결과 출력
print(df)

# 데이터베이스 연결 종료
conn.close()

     review_id  user_id  business_id  stars  \
0      3350125   262704        22138    4.0
1      6231996   565964        22138    4.0
2      6823760  1479080        22138    5.0
3      6421669  1493874        22138    5.0
4      3249470  1704373        22138    5.0
..         ...      ...          ...    ...
138    2995022   103858        22138    5.0
139    6136815   571940        22138    5.0
140    4499170   980619        22138    5.0
141     108011  1578922        22138    5.0
142    1847631   284928        22138    5.0

                                                  text                 date  \
0    Really good coffee and not busy. Good quiet pl...  2018-03-23 13:43:28
1    The iced coffee had a nice kick to it & I will...  2018-01-21 15:46:24
2    Love this place! I don't work in Clayton anymo...  2018-04-30 06:31:58
3    The atmosphere is a little cold but the staff ...  2018-06-20 14:28:49
4    Oh my!  I'm having my first "Pour Over" and am...  2017-09-10 14:46:27
..                                                 ...                  ...
138  Love coming here! The space is beautiful and t...  2021-11-30 03:14:08
139  Coma coffee is a phenomenal business. Their fo...  2021-05-08 16:36:28
140  Located right across from the Galleria in a da...  2021-06-26 21:05:29
141  I was invited to Coma for an Elite Yelp event....  2021-05-27 00:15:10
142  Coma is my go to coffee shop. Their food and b...  2021-12-31 17:34:58

     food  service  atmosphere  facility  price  others
0       1        0           1         0      0       1
1       1        0           0         0      0       1
2       1        0           1         0      0       1
3       0        1           1         1      0       1
4       1        0           1         0      0       1
..    ...      ...         ...       ...    ...     ...
138     1        0           1         1      0       1
139     1        0           1         0      0       1
140     1        0           1         1      1       1
141     1        0           1         0      0       1
142     1        1           1         0      0       1

[143 rows x 12 columns]

In [92]:
# 연결 종료
conn.close()

테이블 삭제

In [1]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('ASAC_MAP_HALF.db')
cursor = conn.cursor()

# SQL command to drop the review table
drop_table_command = "DROP TABLE IF EXISTS business;"

try:
    cursor.execute(drop_table_command)
    conn.commit()  # Commit the changes to the database
    print(" table has been deleted successfully.")
except sqlite3.Error as e:
    print(f"An error occurred: {e}")

# finally:
#     # Close the cursor and connection to SQLite
#     cursor.close()
#     conn.close()

 table has been deleted successfully.